@media (max-width: 1199.98px) {

  section#footer div.container {
    flex-direction: column;
    gap: 2rem;
  }

  div.cards {
    width: 100%;
  }
}

@media (max-width: 991.98px){
  /* GLOBAL */
  h1{
    font-size: var(--text-medium);
  }

  /*NAVBAR*/
  #navbar-container {
    width: 40rem;
    margin: 0 auto;
  }

  /* CAROUSEL-CONTAINER */
  section#carousel-container .carousel-text h3{
    font-size: var(--text-medium)
  }

  /* JOIN-US-ROW */
  .profile h3{
    font-size: var(--text-small)
  }
  body section#joinUs-row {
    height: fit-content;
  }

  section#joinUs-row .profile{
    width: 100vw;
    padding-bottom: 10rem;
  }
  
}

@media (max-width: 768px){
  /* HOME-TEXT */
  section#container-main div.home-text{
    text-align: center;
    width: 25rem;
  }

  section#container-main div.home-text h2{
    font-size: var(--text-large);
  }

  /* SWIPER */
  body section#carousel-container{
    flex-direction: column;
    height: 70vh;
  }

  .carousel-text {
    text-align: center;
  }

  .swiper-button-prev{
    font-size: var(--text-medium);
    text-align: center;
  }

  .swiper-button-next{
    font-size: var(--text-medium);
    text-align: center;
  }

  body section#subscribe-tradesman {
    height: 60vh;
  }

  .img-wrapper {
    display: none;
  }

  .subscribe-text {
    text-align: center;
  }

  .subscribe-text a.btn {
    margin: 0 auto;
  }
  

  /* FOOTER */

  div.footer-copyright .copyright{
    margin: 0 1rem 0 1rem;
  }
}